{% load static %}
<header>
  <div class="logo">
    <a href="/">
      <img src="{% static 'images/logo.png' %}" alt="Company Logo" />
    </a>
  </div>
  <nav>
    <ul>
      <li><a href="{% url 'machines' %}">Machines</a></li>
      <li><a href="{% url 'faults' %}">Faults</a></li>
      <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
      <li><a href="{% url 'contact' %}">Contact</a></li>
      <li><a href="{% url 'help' %}">Help</a></li>
      {% if request.user.is_authenticated %}
        <li><a href="{% url 'logout' %}" class="btn">Logout</a></li>
      {% else %}
        <li><a href="{% url 'login' %}" class="btn">Login</a></li>
      {% endif %}
    </ul>
  </nav>
</header>
